/package-lock.json

# ignore hidden files and folders
/**/.* 
/**/.*/

# except for this file
!/.gitignore

# build/dependency stuff
/node_modules/

# common data paths
/data/*
/cert/*
/config/*.json
