<html>
    <head>
        <title>kvkit</title>
        <script language="javascript" src="/jquery/jquery.js"></script>
        <script language="javascript" src="/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/fa/css/all.css"/>
        <link rel='stylesheet' type='text/css' href='/static/css/kvkit.css'/>    </head>
    <body class="page-apphome">

        <div id="header">

            <ul class="globalNav">
                <span class="white"><a href="/admin/config" id="config" class="appconfig"><i class="fas fa-cog"></i> App Configuration</a></span>
                <span class="white"><a target="new" href="http://docs.kvkit.com" id="config"><i class="fas fa-question-circle"></i> Help</a></span>
                <span class="white"><a href="/admin/logout" id="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </ul>

            <a href="/"><img src="/static/img/kvkit_black.png" class="logo" /></a>

                <ul class="topNav primary">
                    <a class="active apphome" href=''><i class="fas fa-home"></i> KV</a>
                    <a class="apphome" href='/orchestration'><i class="fas fa-exchange-alt"></i> Remote Jobs</a>
                </ul>
            </div>
            
        </div>

        <div id="content" style="scrollbar-width:none;">
            <h2><strong>KV Stores</strong></h2>
            <p>Available KV stores are listed below. Define exclusions in the <a href="/admin/config">App Configuration</a> to toggle the display of specific KV stores.</p>

            <div class="row">
            ${Object.keys(apps).map(app => `
            	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">            
	    		<h2><i class="fas fa-database"></i> ${app}</h2>
                        ${Object.keys(apps[app]).map(collection => `
                           <a class="collectionList" href="/app/${app}/${collection}">${collection}</a></span>
                        `).join('')}
                        <a href="/collection/create/${app}"><i class="fas fa-plus-square addCollection"></i></a>
                    </div>
            `).join('')}
            </div>
        </div>

        <div id="footer">
            <hr />
            <p class="subtle topborder">kvkit v1.3.0 (Pike) | <a href="mailto:support@redfactorapps.com">Email Support</a><br />
            Copyright &copy; 2020-2021 <a target="new" href="https://redfactorapps.com">RedFactor, LLC</a>. All rights reserved.        
        </div>
    </body>
</html>
