<html>
    <head>
        <title>kvkit | Login Error</title>
        <script type="text/javascript" src="/jquery/jquery.js"></script>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/fa/css/all.css"/>
        <link rel='stylesheet' type='text/css' href='/static/css/kvkit.css'/>
    </head>
    <body class="page-collection">
        <div id="header">
            <a href="/"><img src="/static/img/kvkit_black.png" class="logo" /></a>
            <ul class="topNav secondary">
                <a href='/'><i class="fas fa-home"></i> KV</a>
            </ul>
        </div>
        <div id="content" style="scrollbar-width:none;">
            <h2><strong><i class="fas fa-bomb"></i> Drat! That didn't work.</strong></h2>
            <p>Double-check your login information and <a href="/">try again</a>. If you continue to have difficulty, contact your kvkit admin or email <a href="mailto:support@redfactorapps.zendesk.com">RedFactor Support</a>.</p>
        </div>
    </body>
</html>