<html>
<head>
    <title>kvkit | 404 Not Found</title>
    <script type="text/javascript" src="/jquery/jquery.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/fa/css/all.css" />
    <link rel='stylesheet' type='text/css' href='/static/css/kvkit.css' />
</head>
<body>
    <div id="header">
        <a href="/"><img src="/static/img/kvkit_black.png" class="logo" /></a>
        <ul class="topNav secondary">
            <a href='/'><i class="fas fa-home"></i> KV</a>
        </ul>
    </div>
    <div id="content" style="scrollbar-width:none;">
        <h2>404 Not Found</h2>
    </div>
</body>
</html>