<html>
    <head>
        <title>kvkit | view ${app_name}/${kv_name}</title>
        <script type="text/javascript" src="/jquery/jquery.js"></script>
        <script src="/datatables/js/jquery.dataTables.min.js"></script>
        <script src="/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/datatables-bs4/css/dataTables.bootstrap4.min.css" />
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/fa/css/all.css"/>
        <link rel='stylesheet' type='text/css' href='/static/css/kvkit.css'/>

        <script>
            $(document).ready(function() {
                $('#data').DataTable();
            });
        </script>
    </head>
    <body>

        <div id="header">
    
                <a href="/"><img src="/static/img/kvkit_black.png" class="logo" /></a>
    
                    <ul class="topNav secondary">
                        <a href="javascript:history.go(-1);"><i class="fas fa-chevron-left"></i> Go Back</a>
                        <a class="active apphome" href=''><i class="fas fa-table"></i></i> ${kv_name}</a>
                    </ul>
                </div>
                
        </div>

        <div id="content">
            <h2>Shared Data: ${kv_name}</h2>
            <div class="row">
                <div class="col-md-12">
                    <table id="data" class="table table-striped thead-dark">
                        <thead>
                        <tr>
                            ${data.fields.map(field => `
                                <th scope="col">${field}</th>
                            `).join("")}
                        </tr>
                        </thead>
                        <tbody>
                        ${data.data.map(obj => `
                            <tr scope="row" id=${obj._key}>
                                ${
                                    Object.values(obj).map(chunk => `
                                        ${Object.values(obj).indexOf(chunk) === Object.values(obj).length-1 ? '' : `<td>${chunk}</td>`}
                                    `).join("")
                                }
                            </tr>
                        `).join("")}
                        </tbody>
                    </table>      
                </div>
            </div>
        </div>
        
    </body>
</html>